.navbar{
 display:flex;
 justify-content:space-between;
 align-items: center;
 padding: 8px 4%;
}
.logo{
    width:300px;
    border-radius: 50%;
    padding-left: 0%;
}
.navbar.profile{
    width:40px;
}